.title {
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.btn-load {
    display: block;
    margin: 12px auto;
    padding: 10px;
    background: #2196f3;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.btn-load:hover {
	background-color: #0b7dda;
}